.navbar {
  padding: 40px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style-type: none;
    display: inline-block;

    a {
      font-size: 35px;
      color: #333339;
      text-decoration: none;
      padding: 0 50px;
      font-weight: 100;

      &:hover {
        cursor: pointer;
        color: #5fb0e8;
        font-weight: bold;
      }

      &.active {
        color: #5fb0e8;
        font-weight: bold;
      }
    }
  }
}

